body>section {
  background-image: url(../img/strand.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30em;
  width: 100%;
}

@media (max-width: 650px) {
  body>section {
    height: 25em;
  }

  section {
    padding-top: 0;
  }

}
