/*----------------Verhaal nav------------------  */
article div img:hover {
  transform: scale(1.1);
  transition: 200ms ease-in;
}

.nav-hide {
  height: 0;
  padding: 0;
  transition: all 300ms;
}

.hide {
  opacity: 0;
  transition: all 200ms;
}

nav {
  transition: all 300ms ease-out;
}

nav #nav-btn {
  background-color: white;
  border-radius: 999px;
  color: #00d66c;
  height: 1em;
  width: 1em;
  font-size: 3em;
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all 300ms;
  left: 50%;
  border: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
    box-shadow: 2px 3px 1px inset lightgrey;
}

nav .nav-btn-hidden {
  transform: translate(-50%, -50%) rotate(180deg) !important;
}

/*----------------------------------  */
@font-face {
  font-family: 'Nexa_Bold';
  src: url('Nexa Bold.ttf');
}

@font-face {
  font-family: 'Nexa_Regular';
  src: url('Nexa Regular.ttf');
}

@font-face {
  font-family: 'Paranoia';
  src: url('Paranoia.otf');
}

/*----------------------navigatie / opmaak-------------------------*/
html {
  margin: 0;
  padding: 0;
}

* {
  font-family: 'Nexa_Bold', 'trebuchet ms', 'sans-serif';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F3E5D8;
  margin: 0;
  padding: 0;
}

h2, h3, p, label, input {
  font-family: 'Nexa_Regular', 'trebuchet ms', 'sans-serif';
}

nav {
  width: 100vw;
  padding: 1.5em;
  padding-top: 0.5em;
  height: 8vh;
  background-color: #fff;
  position: fixed;
  box-shadow: 0 0.5125em 0.725em 0 rgba(0, 0, 0, .15);
  z-index: 101;
}

nav i {
  color: #00d66c;
  font-size: 2.5em;
}

nav>ul {
  width: 100vw;
  display: flex;
  flex-direction: row;
  list-style: none;
}

nav ul>li:first-child {
  flex-grow: 1;
}

nav i {
  padding-right: 1em;
}

nav img {
  margin-top: 0.5em;
  max-height: 2em;
  border-radius: 999px;
}

.show {
  display: none;
  text-decoration: none;
  padding-right: 4em;
  font-size: 1.2em;
  color: #00d66c;
  text-decoration: bold;
  font-weight: bold;
}

.show:hover {
  color: #15038C;
}

  {
  background-color: green;
}

@media (min-width: 700px) {
  nav i {
    font-size: 0;
  }

  .show {
    display: block;
  }

  nav > a {
    font-size: 1em;
  }
}

@media (max-width: 700px) {
  nav > a {
    font-size: 1em;
  }
}



/*----------------------Verhaal paranoia-------------------------*/


main section {
  width: 100%;
  height: 800vh;
  box-shadow: inset 0px 0px 150px 20px black;
  mix-blend-mode: multiply;
  -webkit-animation: flickering-anim 3s infinite;
  animation: flickering-anim 3s infinite;
}

@-webkit-keyframes flickering-anim {
  0%, 100% {
    background: rgba(36, 31, 31, 1);
  }

  50% {
    background: rgba(36, 31, 31, 0.8);
  }
}

@keyframes flickering-anim {
  0%, 100% {
    background: rgba(36, 31, 31, 1);
  }

  50% {
    background: rgba(36, 31, 31, 0.8);
  }
}

main section {
  background: linear-gradient(to right, rgba(36, 31, 31, 1) 0%, rgba(36, 31, 31, 1) 32%, rgba(74, 71, 70, 1) 100%);
  z-index: 1;
}

main section div {
  height: 800vh;
  display: grid;
  grid-template-columns: 20% 10% 10% 20% 10% 10% 20%;
  grid-template-rows: 30vh 30vh 50vh 20vh 28vh 10vh 110vh 10vh 160vh 10vh 45vh 10vh 50vh 50vh 50vh;
}

main section div img {
  width: 100%;
  grid-column: 1 / -1;
  z-index: -1;
  opacity: 0.3;
}

.medium {
  display: none;
}
.klein {
  display: none;
}

main section div p {
  color: rgba(200, 200, 2000, 1);
  z-index: 101;
  font-family: 'Paranoia';
  animation: text-anim 3s infinite;
  font-size: 2em;
}

main section div p:hover {
  animation: text-anim2 5s infinite;
  cursor: default;
}



main section div p:nth-child(4) {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 4;
  margin: auto;
  font-size: 3em;
}

main section div p:nth-child(5) {
  grid-row-start: 6;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 4;
  margin: auto;
}

main section div p:nth-child(6) {
  grid-row-start: 8;
  grid-row-end: 8;
  grid-column-start: 4;
  grid-column-end: 4;
  margin: auto;
  font-size: 2.5em;
}

main section div p:nth-child(7) {
  grid-row-start: 10;
  grid-row-end: 10;
  grid-column-start: 3;
  grid-column-end: 5;
  margin: auto;
  /* font-size: 2.5em; */
}

main section div p:nth-child(8) {
  grid-row-start: 12;
  grid-row-end: 12;
  grid-column-start: 3;
  grid-column-end: 6;
  margin: auto;
  font-size: 2.5em;
}


@keyframes text-anim {
  0% {
    color: rgba(200, 200, 2000, 1);;
  }

  50% {
    color: rgba(65, 59, 54, 1);
  }

  100% {
    color: rgba(200, 200, 2000, 1);;
  }
}

@keyframes text-anim2 {
  0% {
    transform: rotate(0deg);
  }

  30% {
    transform: rotate(7deg);
  }

  60% {
    transform: rotate(-7deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 800px) {
  .normaal {
    display: none;
  }
  .medium {
    display: block;
  }
  main section div {
    grid-template-rows: 30vh 12vh 10vh 20vh 15vh 10vh 75vh 10vh 105vh 10vh 22vh 10vh 50vh 50vh 50vh;
  }
  main section div p:nth-child(8) {
    font-size: 2em;
  }

  @media (max-width: 600px) {
    .medium {
      display: none;
    }
    .klein {
      display: block;
    }
    @media (max-width: 400px) {
      main section div {
        grid-template-rows: 18vh 1vh 10vh 8vh 8vh 13vh 28vh 10vh 55vh 10vh 10vh 10vh 50vh 50vh 50vh;
      }
      main section div p:nth-child(4) {
        font-size: 1.5em;
        margin-left: 1em;
      }
      main section div p:nth-child(5) {
        font-size: 1.25em;
        grid-column-start: 4;
        grid-column-end: 7;
      }
      main section div p:nth-child(6) {
        font-size: 1.25em;
        grid-column-start: 4;
        grid-column-end: 7;
      }
      main section div p:nth-child(7) {
        font-size: 1.25em;
        grid-column-start: 3;
        grid-column-end: 7;
      }
      main section div p:nth-child(8) {
        font-size: 1.25em;
        grid-column-start: 2;
        grid-column-end: 7;
      }
    }
  }

}
